<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/academicons/1.8.1/css/academicons.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
				<li><a href="/projects">Projects</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li><a href="mailto:erika[dot]kvikstad[at]well.ox.ac.uk">
					<i class="fa fa-envelope-square" aria-hidden="true"></i> email
				</a></li>
				{% if site.github_username %}
				<li>
				     <a href="https://github.com/{{ site.github_username }}">
					     <i class="fa fa-github"></i> GitHub
				      </a>
			      </li>
			      {% endif %}
				{% if site.researchgate_username %}
				<li>
					<a href="https://www.researchgate.net/profile/{{ site.researchgate_username }}">
						<i class="ai ai-researchgate-square" ai-3x aria-hidden="true"></i> ResearchGate

			</ul>
			</footer>
		</body>
	</html>
