---
layout: default
---
<h1>Erika M Kvikstad</h1>

<head>
<style>
body {
/*    margin: 0;*/
}
</style>
</head>
<body>

<div class="post">
	<style>
		body {
			margin:0;
		}	
	<nav>
	<ul>
		<li><a href="/cv/education">Education</a>
		<li><a href="/cv/res_experience/">Research Experience</a>
		<li><a href="/cv/publications">Publications</a>
		<li><a href="/cv/grants">Grants and Fellowships</a>
		<li><a href="/cv/presentations">Presentations</a>
		<li><a href="/cv/teach_experience">Teaching Experience</a>
		<li><a href="/cv/skills">Skills</a>
	</ul>
	</nav>
	</body>
	</style>
		<div style="margin-left:25%;padding:1px 16px;">	
	  {{ content }}
	  	</div>
</div>
</body>
