---
layout: default
---
<h1>Erika M Kvikstad</h1>

<div class="post">
	<nav>
		<div style=margin:0;">
	<ul>
		<li><a href="/projects/TEs/">
			<i class="fa fa-car" aria-hidden="true"></i> TEs</a>
		<li><a href="/projects/indels/">
			<i class="fa fa-cutlery" aria-hidden="true"></i> Indels</a>
		<li><a href="/projects/viruses/">
			<i class="fa fa-bug" aria-hidden="true"></i> Viruses</a>
		<li><a href="/projects/tools/">
			 <i class="fa fa-wrench" aria-hidden="true"></i> Tools</a>

	</ul>
	</div>
	</nav>
		<div style="margin-left:30%;padding:1px 1px;">	
	  {{ content }}
	  	</div>
</div>
